.user_avatar img{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    float:left;
    margin: 5px;
}
.pull-left {
    float: left;
}
.reply_count {
    width: 70px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
}
.put-top {
    background: #80bd01;
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    color: #fff;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 10px;
}
.pull-right {
    float: right;
}
.topic_title {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 5px;
}
.last_time {
    font-size: 11px;
    display: inline-block;
    color: #777;
    margin-top: 10px;
}
.pagination {
    height: 40px;
    margin: 10px 0 0 10px;
    display: block;

}
li{
    list-style: none;
    display:inline;
    margin-right:8px;
    border:1px solid white;
    padding-left:5px;
    padding-right:5px ;
}
.user_avatar1 img{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    float: right;;
    margin: 10px;
}





