.panel {
    margin-bottom: 13px;
}
.panel .header {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}
.topic-tab.current-tab {
    background-color: #80bd01;
    color: #fff;
    padding: 3px 4px;
    border-radius: 3px;
}
.topic-tab {
    margin: 0 10px;
    color: #80bd01;
}
a {
    color: #08c;
    text-decoration: none;
}
.pagination-box {
    margin: 15px 0 20px 10px;
}